---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Gareth Gillespie" description="Find out about Gareth Gillespie">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Find out more about me, my skills and more below."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Gareth Gillespie at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>I'm Gareth, a designer, problem-solver and a lifelong learner.</p>
					<br />
					<p>With over a decade of experience in both print and digital design, I bring a blend 
					of creative and technical skills that help brands communicate clearly and consistently, 
					whether through packaging on a shelf or pixels on a screen.</p>
					<br />
					<p>My journey began in newspaper publishing, where tight deadlines and precise layouts 
					taught me to design with intention and efficiency. That foundation led me into packaging 
					design for a veterinary pharmaceutical brand, where I focused on creating clear, structured visuals 
					across a wide product range.</p>
					<br />
					<p>Today, I work in the supplement e-commerce space. I manage and update WordPress and WooCommerce 
					websites, design marketing assets like email campaigns, social media ads, and 
					printed flyers, ensuring every customer touchpoint reflects the brand’s voice and visual identity.</p>
					<br />
					<p>What drives me, is my curiosity and commitment to continuous improvement. Whether I’m exploring new 
					design tools, refining a workflow, or learning something entirely new, I’m always looking 
					for ways to solve problems creatively and work smarter.</p>
					<br />
					<p>Outside of design, I’m passionate about fitness, personal development, gaming, and tech. 
					I’m always exploring, building, or pushing myself whether that is through work or in life.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p><strong>BA/BSc (Honours) Open Degree</strong></p>
					<p><em>Open University</em> | Currently underway</p>
					<br />
					<p><strong>Higher National Diploma in Interactive Media</strong></p>
					<p><em>Southern Regional College</em> | 2007 - 2009</p>
					<br />
					<p><strong>National Diploma in Media (Moving Image)</strong></p>
					<p><em>Southern Regional College</em> | 2005 - 2007</p>
					<br />
					<p><strong>Level 3 NVQ Certificate in Business and Administration</strong></p>
					<p><em>Southern Regional College</em> | 2019</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>I have worked in the design industry for over 15 years. Some of my skills include:</p>
					<br />
					<ul>
						<li>Graphic Design</li>
						<li>Web Design</li>
						<li>Content Creation</li>
						<li>Project Planning/Management</li>
						<li>Sourcing print providers & purchasing</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
